
Python/Automatização/TrabalhoDocs/credentials.json
Python/Automatização/TrabalhoDocs/token.json
Python/Conceitos/22-Teste/__pycache__/timeFutebol.cpython-312.pyc
Python/Conceitos/24-Herança/__pycache__/evento.cpython-312.pyc
Python/Conceitos/24-Herança/__pycache__/eventoOnline.cpython-312.pyc
Python/Conceitos/25-ImportandoModulos/__pycache__/evento.cpython-312.pyc
Python/Conceitos/25-ImportandoModulos/__pycache__/eventoOnline.cpython-312.pyc
Python/Conceitos/27-DesenvolvendoApiHttp2/__pycache__/evento.cpython-312.pyc
Python/Conceitos/27-DesenvolvendoApiHttp2/__pycache__/eventoOnline.cpython-312.pyc
